BasedOnStyle: Google
InsertBraces: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left
ColumnLimit: 150
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: false
  BeforeElse: true
BreakConstructorInitializers: BeforeColon
PackConstructorInitializers: NextLine
NamespaceIndentation: All
FixNamespaceComments: false
