# Temporary files
*.swp
~*
.vscode

# Compilation files
*.o
*.a
a.out
teapot
build

# System/LSP files
**/.direnv
**/.envrc
**/compile_commands.json
**/.cache

**/.idea
**/.clang-format
**/.devcontainer
**/.venv
